<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aroma Shop - Home</title>
  <th:block th:replace="layout/head :: headFragment"></th:block>
  <style>
    .pro-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <!--================ Start Header Menu Area =================-->
  <th:block th:replace="layout/header :: headerFragment"></th:block>
  <!--================ End Header Menu Area =================-->
  <img src="img/banner1.png" alt="배너1" style="    border-radius: 85px;margin: 0 auto; display: block;">
  <main class="site-main">
    
    <!--================ Hero banner start =================-->

    <!--================ Hero banner start =================-->



    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <h2><span class="section-intro__style">중고상품</span></h2>
          <br>
          <p style="font-size: 20px">셀파몰의 최신 중고상품을 만나보세요!</p>
        </div>
        <div class="row">
          <th:block th:each="product, status : ${productList}">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img pro-img" th:src="${'/team15/common/image?savefile='+fileList.get(status.index).getSavefile()+'&originfile='+fileList.get(status.index).getOriginfile()}" th:alt="이미지+${status.count}">
                </div>
                <div class="card-body">
                  <p>[[${product.cate}]]</p>
                  <h4 class="card-product__title"><a th:href="@{/common/getProduct(no=${product.no})}">[[${product.title}]]</a></h4>
                  <p class="card-product__price" th:text="${product.price eq 0 ? '무료나눔' : product.price}"></p>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>
    <!-- ================ trending product section end ================= -->  

    <!-- ================ Blog section start ================= -->  
    <section class="blog">
      <div class="container">
        <div class="section-intro pb-60px">
          <h2><span class="section-intro__style">교육뉴스</span></h2>
          <br>
          <p style="font-size: 20px">꼭 필요한 정보를 확인해요!</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img" src="img/급식.png" style="border-radius: 30px">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">The Richland Center Shooping News and weekly shooper</a></h4>
                <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img" src="img/사기.png" style="border-radius: 30px">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">The Shopping News also offers top-quality printing services</a></h4>
                <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <img class="card-img" src="img/출첵.png" style="border-radius: 30px">
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li><a href="#">By Admin</a></li>
                  <li><a href="#"><i class="ti-comments-smiley"></i> 2 Comments</a></li>
                </ul>
                <h4 class="card-blog__title"><a href="single-blog.html">Professional design staff and efficient equipment you’ll find we offer</a></h4>
                <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                <a class="card-blog__link" href="#">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Blog section end ================= -->
    <br>
    <br>

  </main>


  <!--================ Start footer Area  =================-->
  <th:block th:replace="layout/footer :: footerFragment"></th:block>
  <!--================ End footer Area  =================-->
</body>
</html>