<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
	<th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	<th:block th:replace="layout/header :: headerFragment"></th:block>
	<!--================ End Header Menu Area =================-->
  
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>로그인</h1>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>셀파몰이 처음이신가요?</h4>
							<br>
							<p>셀파몰에서 선생님들과의 커뮤니티와 <br> 오직, 선생님들을 위한 중고 상품을 만나보세요!</p>
							<a class="button button-account" th:href="@{/common/join}">회원가입</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>로그인</h3>
						<form class="row login_form" th:action="@{/auth}" id="contactForm" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="아이디" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Username'" pattern="^[a-z0-9]*$" minlength="4" maxlength="16" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Password'" pattern="^([a-zA-Z0-9_~!@#$%^&*]){4,18}*$" minlength="4" maxlength="18" required>
							</div>
							<div class="col-md-12 form-group">
								<br>
								<br>
								<button type="submit" value="submit" class="button button-login w-100">로그인</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



  <!--================ Start footer Area  =================-->
	<th:block th:replace="layout/footer :: footerFragment"></th:block>
	<!--================ End footer Area  =================-->
</body>
</html>