<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 중고상품 </title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/productlist.css}">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<th:block th:replace="layout/header :: headerFragment"></th:block>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1> 중고상품 </h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">원하는 물건을 찾거나 파는 즐거움을 느껴보세요!</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">카테고리</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <ul>
                                <form th:action="@{/common/productList}" id="categoryForm" method="get">
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="전체" name="category" value=""><label for="전체">전체</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="의류" name="category" value="의류"><label for="의류">의류</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="악세서리" name="category" value="악세서리"><label for="악세서리">악세서리</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="전자제품" name="category" value="전자제품"><label for="전자제품">전자제품</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="스포츠" name="category" value="스포츠"><label for="스포츠">스포츠</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="굿즈" name="category" value="굿즈"><label for="굿즈">굿즈</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="도서" name="category" value="도서"><label for="도서">도서</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="티켓" name="category" value="티켓"><label for="티켓">티켓</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="뷰티" name="category" value="뷰티"><label for="뷰티">뷰티</label></li>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex justify-content-end flex-wrap align-items-center">
                    <form th:action="@{/common/productList}" method="get" class="d-flex justify-content-end align-items-end">
                        <input type="hidden" name="category" th:value="${page.category}">
                        <select name="type" id="type" class="select_filter border-0 rounded-0" style="height: 38px;">
                            <option value="L">지역</option>
                            <option value="T">제목</option>
                            <option value="C">내용</option>
                            <option value="W">판매자</option>
                        </select>
                        <div class="input-group filter-bar-search">
                            <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요" th:value="${page.keyword}" autocomplete="off">
                            <div class="input-group-append">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <div class="col-md-6 col-lg-4" th:each="product, status : ${productList}">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img pro-img" th:src="${'/team15/common/image?savefile='+fileList.get(status.index).savefile+'&originfile='+fileList.get(status.index).originfile}" alt="상품이미지">
                                </div>
                                <div class="card-body">
                                    <p>[ [[${product.cate}]] ]</p>
                                    <p>[[${product.addr}]]</p>
                                    <h4 class="card-product__title"><a th:href="@{/common/getProduct(no=${product.no})}">[[${product.title}]]</a></h4>
                                    <p class="card-product__price" th:text="${product.price eq 0 ? '무료나눔' : product.price + '원'}"></p>
                                </div>
                            </div>
                        </div>
                        <span class="w-100 text-center" th:if="${#lists.size(productList) == 0}"> 해당하는 중고상품이 없습니다. </span>
                    </div>
                </section>
                <!-- End Best Seller -->
                <nav class="blog-pagination justify-content-center d-flex" th:if="${page.lastPageNum != 0}">
                    <ul class="pagination">
                        <li class="page-item" th:if="${page.curPageNum > 5}">
                            <a th:href="@{/common/productList(page=${page.blockStartNum - 1},type=${page.type},keyword=${page.keyword})}" class="page-link" aria-label="Previous">
                                <
                            </a>
                        </li>
                        <li th:class="${page.curPageNum == i ? 'page-item active' : 'page-item'}" th:each="i : ${#numbers.sequence(page.blockStartNum, page.blockLastNum)}">
                            <a th:href="@{/common/productList(page=${page.blockStartNum - 1},type=${page.type},keyword=${page.keyword})}" th:text="${i}" class="page-link"></a>
                        </li>
                        <li class="page-item" th:if="${page.blockLastNum < page.totalPageCount}">
                            <a th:href="@{/common/productList(page=${page.blockLastNum + 1},type=${page.type},keyword=${page.keyword})}" class="page-link" aria-label="Next">
                                >
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="d-flex justify-content-end mt-5" sec:authorize="isAuthenticated()">
                    <a th:href="@{/product/fileUpload}" class="btn btn-primary"> 판매하기 </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    $(document).ready(() => {
        let curCate = [[${page.category}]];
        $("input[type=radio]").change(() => {
            $("#categoryForm").submit();
        });

        $("#" + [[${page.category}]]).attr("checked", "checked");
        if(curCate == '' || curCate == null) {
            $("#전체").attr("checked", "checked");
        }
    });
</script>

<!--================ Start footer Area  =================-->
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<!--================ End footer Area  =================-->
</body>
</html>