<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.edumarket.per.BoardMapper">
    <!-- 게시글 목록, 리스트 -->
    <select id="getBoardList" resultType="com.chunjae.edumarket.entity.Board">
        select * from board order by no desc
    </select>
    <!-- 게시글 상세 -->
    <select id="getBoard" resultType="com.chunjae.edumarket.entity.Board">
        select * from board where no = #{no}
    </select>
    <!-- 게시글작성 -->
    <insert id="insertBoard">
        INSERT INTO board values(default, #{id}, #{title}, #{content}, default, default)
    </insert>
    <!-- 게시글수정 -->
    <update id="updatBoard">
        UPDATE board SET title=#{title}, content=#{content} WHERE no = #{no}
    </update>
    <!-- 게시판 삭제 -->
    <delete id="deleBoard">
        DELETE from board where no = #{no}
    </delete>
    <!-- 댓글 목록 -->
    <select id="commentList" resultType="com.chunjae.edumarket.entity.Comment">
        select * from board_com where par = #{par}
    </select>
    <!-- 댓글 작성 -->
    <insert id="inserBoardCom">
        INSERT INTO board_com values(default, #{id}, #{content}, default, #{par})
    </insert>
    <!-- 댓글 정보 -->
    <select id="getBoardCom" resultType="com.chunjae.edumarket.entity.Comment">
        select * from board_com where no = #{no}
    </select>
    <!-- 댓글 수정 -->
    <update id="upadetCom">
        update board_com set content=#{content} where no=#{no}
    </update>
    <!-- 댓글 삭제 -->
    <delete id="deleCom">
        delete from board_com where no=#{no}
    </delete>
</mapper>