<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>마이페이지</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"> 내 정보를 한눈에 확인해보세요 </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<div style="min-height: 100vh">
    <div class="container con-tb">
        <form th:action="@{/user/updateUserPro}" method="post" onsubmit="return updateConfirm(this)" class="w-75 m-auto">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label for="id" class="label mt-3"> 아이디 </label>
            <input type="text" name="name" id="id" minlength="4" maxlength="16" class="form-control"
                   placeholder="영어소문자, 숫자 각각 최소 2개 포함" th:value="${user.name}" readonly/>

            <label for="id" class="label mt-3"> 권한 </label>
            <input type="text" name="lev" id="lev" th:value="${user.lev}" class="form-control" readonly/>


            <label for="password" class="label mt-3"> 비밀번호 </label>
            <input type="password" name="password" id="password" minlength="6" maxlength="100" class="form-control"
                   th:value="${user.password}" placeholder="영어대소문자, 숫자, 특수문자 포함 4~18"
                   pattern="^([a-zA-Z0-9_~!@#$%^&*]){4,100}*$" required/>

            <label for="password2" class="label mt-3"> 비밀번호 확인 </label>
            <input type="password" name="password2" id="password2" minlength="6" maxlength="100" class="form-control"
                   th:value="${user.password}" placeholder="비밀번호를 다시 입력해주세요" pattern="^([a-zA-Z0-9_~!@#$%^&*]){4,100}*$"
                   required/>

            <div class="pure-control-group">
                <label for="username" class="label mt-3"> 이름 </label>
                <input type="text" name="username" id="username" class="form-control"
                       minlength="2" maxlength="50" placeholder="username" pattern="^[가-힣]*$"
                       th:value="${user.username}" required/>
            </div>

            <label for="email" class="label mt-3"> 이메일 </label>
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control"
                           pattern="^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]${2,3}"
                           th:value="${user.email}" maxlength="100" required/>
                    <input type="hidden" id="email2" th:value="${user.email}">
                </div>
                <div class="col">
                    <button type="button" id="emailCheckBtn" class="btn btn-primary" style="width: 100%">이메일 중복 체크</button>
                </div>
            </div>
            <input type="hidden" name="emailCheck" id="emailCheck" value="false">
            <div id="msg2"></div>

            <label for="addr2" class="label mt-3"> 주소 </label>
            <input type="text" class="form-control" id="addr1" name="addr1" placeholder="기본 주소를 입력해주세요"
                   autocomplete="off" th:value="${user.addr1}" maxlength="280" readonly>
            <input type="text" class="form-control mt-1" id="addr2" name="addr2" placeholder="상세 주소를 입력해주세요"
                   autocomplete="off" pattern="^[가-힣a-zA-Z0-9\s]*$" th:value="${user.addr2}" maxlength="280">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="form-control mt-1" id="postcode" name="postcode"
                           placeholder="우편번호를 입력해주세요" autocomplete="off" th:value="${user.postcode}" maxlength="280"
                           readonly>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark mt-1" style="width: 100%" onclick="findAddr()"> 우편번호 검색</button>
                </div>
            </div>

            <label for="tel" class="label mt-3"> 전화번호 </label>
            <input type="tel" name="tel" id="tel" class="form-control"
                   placeholder="010(02,0505)-0000-0000 형식으로 입력해주세요" pattern="\d{2,4}-\d{3,4}-\d{4}" maxlength="16"
                   th:value="${user.tel}" required/>

            <label for="birth" class="label mt-3"> 생년월일 </label>
            <input type="date" name="birth" id="birth" class="form-control" th:value="${user.birth}" required/>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-4 mb-5"> 정보 수정 </button>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<script th:src="@{/js/update.js}"></script>
<script th:src="@{/js/kakao-addr.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>