<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>자유게시판 상세보기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>

<style>
    .single-blog-item {
        min-height: 35vh;
    }

    .blog-item-content hr {
        margin-top: 0;
    }

    .blog-item-content p {
        color: black;
        font-size: 1.25rem;
    }

    .btns .button {
        min-width: 7rem;
    }

    .item1 {
        width: 10%;
    }

    .item2 {
        width: 30%;
    }

    .item3 {
        width: 20%;
    }

    .item4 {
        width: 10%;
    }

    .item1, .item2, .item3 {
        text-align: center;
    }

    .button2 {
        width: 85px;
        height: 135px;
        text-decoration: none;
        border-radius: 20px;
        margin: 15px;
        padding: 10px;
        float: right;
        background-color: #FFA500;
        border-color: #FFA500;
        color: #ffffff;
    }
</style>

<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>자유게시판 상세보기</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            댓글을 남기면서 전국 선생님들과 소통해보세요!
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<div class="container">
    <div class="columns is-multiline mt-1">
        <br>
        <br>
        <div class="column is-12 mb-5 border-top">
            <div class="single-blog-item">
                <div class="blog-item-content ml-6 mt-3">
                    <p class="has-text-black has-text-weight-semibold mt-1" style="font-size: 1.75rem;" th:text="${free.title}"></p>

                    <div class="blog-item-meta py-2 mb-4">
                        <span class="is-size-6 mr-3">작성자
                            <span class="is-size-6 has-text-grey ml-1" th:text="${free.id}"></span>
                        </span> |
                        <span class="is-size-6 mx-3">작성일
                            <span class="is-size-6 has-text-grey ml-1" th:text="${free.resdate}"></span>
                        </span> |
                        <span class="is-size-6 mx-3">조회수
                            <span class="is-size-6 has-text-grey ml-1" th:text="${free.visit}"></span>
                        </span>
                    </div>
                    <hr>
                    <br>
                    <br>
                    <p th:utext="${free.content}"></p>
                    <br>
                    <br>
                </div>
            </div>
            <form th:action="@{/free/commentInsert}" id="login_frm" class="frm" method="post" onsubmit="return comment(this)">
                <table class="tb3">
                    <tbody>
                    <tr>
                        <hr>
                        <p>여러분의 의견을 듣고 싶어요. 나눠주세요!</p>
                        <th:block sec:authorize="isAuthenticated()" class="form-group">
                            <th class="has-text-centered" th:text="${#authentication.principal}" style="font-size: 20px;color: black;width: 10%;text-align: center;"></th>
                            <th><textarea name="content" id="content" class="form-control" cols="100" rows="5" placeholder="댓글" maxlength="250" required
                                          style="border-radius: 20px; margin-left: 6px; resize: none"></textarea></th>
                            <th>
                                <input type="hidden" name="id" th:value="${#authentication.principal}">
                                <input type="hidden" name="par" th:value="${free.no}">
                                <input type="submit" value="작성" class="button2">
                                <input type="hidden" id="ck" value="no">
                            </th>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </form>
            <br>
            <table class="table" id="comment">
                <thead>
                <tr>
                    <th class="item1">작성자</th>
                    <th class="item2">댓글</th>
                    <th class="item3">작성일</th>
                    <th class="item4"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lev : ${comment}">
                    <td class="item1 align-middle" th:text="${lev.id}"></td>
                    <td class="item2 align-middle" th:text="${lev.content}"></td>
                    <td class="item3 align-middle" th:text="${lev.resdate}"></td>
                    <td class="item4">
                        <th:block th:if="${#authentication.principal eq lev.id or #authorization.expression('hasAuthority(''ADMIN'')')}">
                            <a th:href="@{/free/commentUpdate(no=${lev.no})}" class="btn btn-primary " style="float: right">수정</a>
                            <a th:href="@{/free/commentDelete(no=${lev.no})}" class="btn btn-danger" style="float: right; margin-right: 15px">삭제</a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btns has-text-centered">
        <!-- 아이디가 일치하거나 관리자인 경우 -->
        <th:block th:if="${#authentication.principal eq free.id or #authorization.expression('hasAuthority(''ADMIN'')')}">
            <a class="btn btn-primary" style="background-color: #2B3A55; color: #fff; float: right" th:href="@{/free/freeEdit(no=${free.no})}">글 수정</a>
            <a class="btn btn-danger" th:href="@{/free/freeDelete(no=${free.no})}" style="float: right; margin-right: 15px">글 삭제</a>
            <a class="btn btn-primary" th:href="@{/free/freeList}">목록</a>
        </th:block>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
</body>
</html>