<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 수정</title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>댓글 수정하기</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            댓글을 개선하고 싶다면 언제든 수정 가능해요! 여러분의 마음을 마음껏 편집해주세요.
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<div class="container">
    <form th:action="@{/free/commentUpdate}" method="post" style="width:600px;margin:15px auto;"
          onsubmit="return textCheck(this)">
        <div class="form-group">
            <br>
            <br>
            <label for="content">내용</label>
            <input type="hidden" name="no" id="no" th:value="${freeComment.no}" >
            <textarea name="content" class="form-control" id="content" placeholder="내용 입력" rows="8" cols="100" maxlength="280" required>[[${freeComment.content}]]</textarea>
            <input type="hidden" id="ck" value="no">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="수정" style="float: right" >
            <a class="btn btn-light" th:href="@{/free/freeList}" style="float: right">목록</a>
            <br>
            <br>
            <br>
            <br>
        </div>
    </form>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
</body>
</html>