<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>공지사항 상세보기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>

<style>
    .single-blog-item {
        min-height: 35vh;
    }

    .blog-item-content hr {
        margin-top: 0;
    }

    .blog-item-content p {
        color: black;
        font-size: 1.25rem;
    }

    .btns .button {
        width: 6rem;
    }
</style>

<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>공지사항 상세보기</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            셀파몰의 중요소식을 공지사항을 통해 만나보세요!
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<div class="container">
    <div class="columns is-multiline mt-1">
        <br>
        <br>
        <div class="column is-12 mb-5 border-top">
            <div class="single-blog-item">
                <div class="blog-item-content ml-6 mt-3">
                    <p class="has-text-black has-text-weight-semibold mt-1" style="font-size: 1.75rem;" th:text="${notice.title}"></p>

                    <div class="blog-item-meta py-2 mb-4">
                        <span class="is-size-6 mr-3">작성자
                            <span class="is-size-6 has-text-grey ml-1">관리자</span>
                        </span> |
                        <span class="is-size-6 mx-3">작성일
                            <span class="is-size-6 has-text-grey ml-1" th:text="${notice.resdate}"></span>
                        </span> |
                        <span class="is-size-6 mx-3">조회수
                            <span class="is-size-6 has-text-grey ml-1" th:text="${notice.visit}"></span>
                        </span>
                    </div>
                    <hr>
                    <br>
                    <br>
                    <p th:utext="${notice.content}"></p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="btns has-text-centered">
                <!-- 아이디가 일치하거나 관리자인 경우 -->
                <th:block sec:authorize="isAuthenticated() and (hasAuthority('ADMIN'))">
                    <a class="btn btn-primary" style="background-color: #2B3A55; color: #fff; float: right" th:href="@{/notice/noticeEdit(no=${notice.no})}">수정</a>
                    <a class="btn btn-danger" th:href="@{/notice/noticeDelete(no=${notice.no})}" style="float: right; margin-right: 15px">삭제</a>
                    <a class="btn btn-primary" th:href="@{/notice/noticeList}">목록</a>
                </th:block>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
</body>
</html>